<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nit">
      <th mat-header-cell *matHeaderCellDef> Nit </th>
      <td mat-cell *matCellDef="let element"> {{element.nit}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="numeroFactura">
      <th mat-header-cell *matHeaderCellDef> Numero Factura </th>
      <td mat-cell *matCellDef="let element"> {{element.numeroFactura}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="valorBruto">
      <th mat-header-cell *matHeaderCellDef> Valor Bruto </th>
      <td mat-cell *matCellDef="let element"> {{element.valorBruto}} </td>
    </ng-container>
  

    <ng-container matColumnDef="iva">
        <th mat-header-cell *matHeaderCellDef> I.V.A </th>
        <td mat-cell *matCellDef="let element"> {{element.iva}} </td>
      </ng-container>
  

      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef> Valor Total </th>
        <td mat-cell *matCellDef="let element"> {{element.valorTotal}} </td>
      </ng-container>

      <ng-container matColumnDef="observacion">
        <th mat-header-cell *matHeaderCellDef> Observacion </th>
        <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
      </ng-container>

      
    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>
  
  